#dash {
    margin-left:100px;
    margin-right:100px;
  }
    #page {
    margin-left:110px;
    margin-right:110px;
    width:1229px;
    }
    #container {
      width: 1000px;
      height: 700px;
      margin-left:auto;
      margin-right:auto;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(91, 108, 123);
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
    body {font-family: Arial;}

    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      margin-left:111px;
      margin-right:111px;
      width:1229px;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 265.6px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
      margin-left:110px;
      margin-right:110px;
      width:1229px;
    }
    .smilescontent {
      margin-left:110px;
      margin-right:110px;
      width:1229px;
      background-color: rgb(242, 234, 234);
    }
